<div class="alert alert-info">
  <div>
    <%= Spree.t(
          'admin.integrations.avalara.stock_location_address_info',
          stock_location_link: link_to(
            Spree.t('admin.integrations.avalara.stock_location_link_label'),
            spree.admin_stock_locations_path,
            class: 'text-blue-500 no-underline hover:text-blue-600'
          )
        ).html_safe %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <%= preference_field(@integration, form, 'account_number', i18n_scope: 'admin.integrations.avalara') %>
    <%= preference_field(@integration, form, 'license_key',    i18n_scope: 'admin.integrations.avalara') %>

    <%= form.spree_select :preferred_endpoint,
            options_for_select(avalara_endpoint_options, @integration.preferred_endpoint),
            { include_blank: false, label: Spree.t('admin.integrations.avalara.endpoint') } %>

    <%= preference_field(@integration, form, 'company_code', i18n_scope: 'admin.integrations.avalara') %>

    <% if form.object.persisted? %>
      <%= form.spree_check_box :active, label: Spree.t('admin.integrations.avalara.active') %>
    <% end %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <%= preference_field(@integration, form, 'address_validation_enabled', i18n_scope: 'admin.integrations.avalara') %>
    <%= preference_field(@integration, form, 'commit_transaction_enabled', i18n_scope: 'admin.integrations.avalara') %>
    <%= preference_field(@integration, form, 'show_rate_in_label',         i18n_scope: 'admin.integrations.avalara') %>
  </div>
</div>
